.Sidebar {}

.menu {
   padding: 0 32px;
}

.logo {
   display: block;
   text-align: center;
   margin: 33px 0;
}

.SidebarBottom {
   padding-top: 24px;
}

.background {
   height: 348px;
   width: 240px;
   margin: 0 32px;
   background-color: #fff;
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
}

.fireBackground {
   height: 64px;
   width: 64px;
   border-radius: 12px;
   background-color: rgba(251, 109, 58, 0.1);
}

.fireImg {
   height: 32px;
   width: 24px;
}